{% extends 'adminLayout.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block content %}
    <h1 class="text-center mt-5 mb-3">Ajout de produit</h1>
    {% if post %}<h2 class="text-center mt-5 mb-3">Votre produit à été enregistré</h2>{% endif %}
    <section class="container">
        <form class="form-row" action="/adminProduct/add" enctype="multipart/form-data" method="post">
            <div class="form-group col-md-12">
                <label for="productName">Nom du produit: {% if errors.name %}
                        <span class="text-danger">{{ errors.name }}</span>{% endif %}
                </label>
                <input type="text" class="form-control" id="productName" value="{{ data.name }}" name="name">
            </div>
            <div class="form-group col-md-12">
                <label for="description">Description du produit: {% if errors.description %}
                        <span class="text-danger">{{ errors.description }}</span>{% endif %}
                </label>
                <textarea class="form-control" id="description" name="description"
                          rows="6">{{ data.description }}</textarea>
            </div>
            <p class="ml-1">Choisissez jusqu'à 8 photos pour votre produit:</p>

            <div class="col-md-12 mb-3 mt-2 custom-file">
                <label for="upload" class="custom-file-label">Choisir des fichiers {% if errors.picture %}
                        <span class="text-danger">{{ errors.picture }}</span>{% endif %}</label>
                <input type="file" multiple="multiple" class="custom-file-input" id="upload" name="upload[]">
            </div>
            <div class="form-row col-md-11 mb-4 mx-auto">
                <div class=" col-md-4 px-2">
                    <label for="category">Categories: {% if errors.categories_id %}
                            <span class="text-danger">{{ errors.categories_id }}</span>{% endif %}
                    </label>
                    <select id="category" class="form-control" name="categories_id">
                        <option value="" selected>Choisissez ...</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}"
                                    {% if category.id is same as(data.categories_id) %} selected {% endif %}>
                                {{ category.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class=" col-md-4 px-2">
                    <label for="price">Prix:{% if errors.price %}
                        <span class="text-danger">{{ errors.price }}</span>{% endif %}
                    </label>
                    <input type="number" class="form-control" id="price" name="price" value="{{ data.price }}">
                </div>
                <div class="form col-md-4 px-2">
                    <label for="date">Date d'entrée en magasin:{% if errors.date_added %}
                        <span class="text-danger">{{ errors.date_added }}</span>{% endif %}
                    </label>
                    <input type="date" class="form-control" id="date" name="date_added"
                           value="{{ data.date_added }}">
                </div>
            </div>
            <div class="form-check ml-1 text-center mt-4 col-md-12">
                <input class="form-check-input" type="checkbox" id="ahead" name="ahead"
                       {% if data.ahead == 1 %}checked{% endif %}>
                <label class="form-check-label" for="ahead">
                    Mettre le produit en avant
                </label>
            </div>
            <div class="text-center mt-5 col-md-12">
                <button type="submit" class="btn btn-dark justify-content-center">Enregistrer le produit</button>
            </div>
        </form>

    </section>
{% endblock %}
