<!--Card -->
<div class="col-lg-4 col-md-7 col-sm-8 text-center">
    <ul class="cards clearfix pl-0">
        <li class="mr-0 mb-0">
            <figure class="product-card">
                <a href="/item/show/{{ product.id }}">
                    <img class="product-card-img" src="/{{ product.picture }}"/>
                    <dev>
                        <div class="horizontaleligne mt-4"></div>
                        <h5 class="product-card-title mt-3">{{ product.name }}</h5>
                        <p class="product-card-address mt-3">
                            <i class="fa fa-map-marker"></i>Dépôt-Vente Bannier
                        </p>
                        <div class="mt-5">
                            <p class="pricecard">{{ product.price }} €</p>
                        </div>
                    </dev>
                </a>
            </figure>
            <div class="text-center">
                <a href="/item/show/{{ product.id }}" class="btn btn-dark">+ d'infos</a>
            </div>
        </li>
    </ul>
</div>

