<section class="contactForm" id="contact">
        <h2 class="titleheadband">Contactez-nous</h2>
    <div class="col-12 text-contactForm">
        <p>Pour toute question concernant l'achat, la vente, un débarras ou que vous ayez besoin d'informations,
            n'hésitez pas à nous contacter via le formulaire ci-après</p>
    </div>
    <div class="col-12 row mt-5 justify-content-center align-content-center">
        <div class="col-lg-8">
            <form action="/home/index#contact" method="post" autocomplete="on" class="contactForm">
                <div>
                    <select class="form-control mt-4" id="select_form" name="select_form"
                            value="{{ data.select_form }}" required>
                        <option value="">Je vous contacte pour...</option>
                        <option {% if data.select_form == 'acheter' %}selected {% endif %} value="acheter">Acheter
                        </option>
                        <option {% if data.select_form == 'vendre' %}selected {% endif %} value="vendre">Vendre</option>
                        <option {% if data.select_form == 'se_debarrasser' %}selected {% endif %}value="se_debarrasser">
                            Me débarrasser
                        </option>
                        <option {% if data.select_form == 'renseignements' %}selected {% endif %}value="renseignements">
                            Renseignements
                        </option>
                    </select>
                    <div class="text-danger">{{ errors.select_form }}</div>
                </div>
                <div class="form-group">
                    <label for="message"></label>
                    <textarea name="message" id="message" placeholder="Votre message" class="form-control" rows="8"
                              required>{{ data.message }}</textarea>
                    <div class="text-danger">{{ errors.message }}</div>
                </div>
                <div class="form-group form-row">
                    <div class="col-12 col-sm-6">
                        <label for="name"></label>
                        <div class="input-group">
                            <select class="form-control mt-6" id="civility" name="civility"
                                    value="{{ data.civility }}" required>
                                <option value="">Mme / Mr.</option>
                                <option {% if data.select_form == 'Mme.' %}selected {% endif %} value="Mme.">Mme.
                                </option>
                                <option {% if data.select_form == 'Mr.' %}selected {% endif %} value="Mr.">Mr.</option>
                            </select>
                            <div class="text-danger">{{ errors.civility }}</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <label for="name"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="far fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" id="name" aria-describedby="inputGroupPrepend"
                                   name="name" value="{{ data.name }}" required>
                            <div class="text-danger">{{ errors.name }}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group form-row">
                    <div class="col-12 col-sm-6">
                        <label for="telephone"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"><i
                                            class="fas fa-phone-volume"></i></span>
                            </div>
                            <input type="tel" class="form-control" id="telephone" aria-describedby="inputGroupPrepend"
                                   pattern="^(0|\+33)[1-9]([-. ]?[0-9]{2}){4}$" name="telephone"
                                   value="{{ data.telephone }}" required>
                            <div class="text-danger">{{ errors.telephone }}</div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6">
                        <label for="email"></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroupPrepend"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="email" class="form-control" id="email" name="email"
                                   aria-describedby="inputGroupPrepend" value="{{ data.email }}" required>
                            <div class="text-danger">{{ errors.email }}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group row d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-secondary btn-lg" name="submit">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</section>
