{% extends 'visitorLayout.html.twig' %}

{% block content %}

<section class="container">
    <div class="row justify-content-center">
        <div class="productTitle-product-page col-12">
            <h1>{{ items[0].name }}</h1>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide col-12 col-md-6" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                {% for key, image in itemImages %}
                    <div class="carousel-item {% if key == 0 %} active {% endif %}">
                        <img src="{{ image.name }}" class="img-thumbnail w-100" alt="depot-vente">
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="col-12 col-md-5">
            <div>
                <h2 class="price">{{ items[0].price }}€</h2>
            </div>
            <div class="textSingleProduct">
                <p>{{ items[0].date_saled }}</p>
                <p>{{ date_saled is null ? '<i class="fas fa-check"></i> Disponible' : '<i class="fas fa-times"></i> Vendu' }} </p>
                <p><i class="fas fa-tag"></i> {{ items[0].category }}</p>
                <p><i class="far fa-calendar-alt"></i> En magasin depuis le {{ items[0].date_added }}</p>
                <p><i class="far fa-eye"></i> Ce produit vous intéresse ?</p>
            </div>
            <div class="col-12">
                <a href="/Home/index#contact" class="btn btn-outline-secondary btn-lg mt-5 mb-5" role="button"><i class="far fa-envelope"></i>&nbsp&nbspContactez-nous !</a>
            </div>
        </div>
        <div class="productDescription col-12">
            <p>{{ items[0].description }}</p>
        </div>
    </div>
</section>
    <hr class="border">
    <section class="container">
        <div class="row justify-content-center">
            <div class="productTitle-product-page col-12 recommendedItems">
                <h2>D'autres produits de la catégorie qui pourraient vous intéresser</h2>
                <h3>{{ items[0].category }}</h3>
            </div>
            {% for itemRandom in itemsRandom %}
            <div class="card col-lg-4 col-sm-8 col-md-4 mx-auto">
                <div class="card-body text-center">
                    <div class="card-img">
                        <img class="img-thumbnail" src="{{ itemRandom['image'] }}" alt=""/>
                    </div>
                    <h5 class="card-title">{{ itemRandom['name'] }} </h5>
                    <p class="text">{{ itemRandom['price'] }}€</p>
                    <a href="/products/show/{{ itemRandom['id'] }}" class="btn btn-info">+ d'infos</a>
                </div>
            </div>
            {% endfor %}
    </section>
{% endblock %}
