
<!--Card -->
<h2 class="produits ">Nos articles tendances</h2>

<section class="section1">

    <div class="card-group row">

        <div class="card col-md-12 mx-auto">

            <div class="card-body text-center">
                <div class="card-img">
                    <img class=" img-thumbnail" src="{{ product.picture_id }}">
                </div>
                <h5 class="card-title"> {{ product['name'] }} </h5>
                <p class="text">{{ product['price'] }}</p>

                <p class="card-text"> {{ product['description'] }}</p>
                <a href="#" class="btn ">+ d'infos</a>
            </div>
        </div>

        <div class="card col-md-12 mx-auto">

            <div class="card-body text-center">
                <div class="card-img">
                    <img class=" img-thumbnail" src="{{ product.picture_id }}">
                </div>

                <h5 class="card-title"> {{ product['name'] }} </h5>


                <p class="text">{{ product['price'] }}</p>
                <p class="card-text"> {{ product['description'] }}</p>
                <a href="#" class="btn">+ d'infos</a>

            </div>
        </div>
    </div>
</section>
